body {
  margin: 0;
  background-image: url("res/Kaamelott.jpg"); /* ton image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

